body
{
    font-family: $look-font-family;
    @include rem(font-size, $look-font-size);
    line-height: $look-line-height;
    color: $look-color-text;
    background-color: $look-color-background;
}

a
{
    text-decoration: none;
    color: $look-color-link;
    font-weight: bold;

    &:hover
    {
        color: lighten($look-color-link, 10%);
    }
}

h1, h2, h3, h4, h5, h6
{
    @include rem(margin-top, $look-unit);
    @include rem(margin-bottom, $look-unit);
    @include rem(letter-spacing, -2px);
    color: $look-color-heading;
}

h1
{
    @include rem(font-size, $look-font-size-h1);
    // line-height: 2 * $look-unit / $look-font-size-h1;
    line-height: 1.18;
}

h2
{
    @include rem(font-size, $look-font-size-h2);
    // line-height: 2 * $look-unit / $look-font-size-h2;
    line-height: 1.34;
}

h3
{
    @include rem(font-size, $look-font-size-h3);
    // line-height: 2 * $look-unit / $look-font-size-h3;
    line-height: 1.54;
}

h4
{
    @include rem(font-size, $look-font-size-h4);
    // line-height: $look-unit / $look-font-size-h4;
    line-height: 0.91;
}

h5
{
    @include rem(font-size, $look-font-size-h5);
    // line-height: $look-unit / $look-font-size-h5;
    line-height: 1.12;
    @include rem(letter-spacing, -1.5px);
}

h6
{
    @include rem(font-size, $look-font-size-h6);
    // line-height: $look-unit / $look-font-size-h6;
    line-height: 1.43;
    @include rem(letter-spacing, -1px);
}

ul
{
    list-style-type: square;
}

ul, ol,
p,
pre
{
    @include rem(margin-top, $look-unit);
    @include rem(margin-bottom, $look-unit);
}

li ol,
li ul
{
    margin-top: 0;
    margin-bottom: 0;
}

ul > li
{
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAGCAYAAADkOT91AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpiZJi+/D8DEmBiQAOEBRj///+PXwVAgAEAP4YFRZMhCHAAAAAASUVORK5CYII);
}

ol > li
{
    list-style-image: none;
}

pre,
code
{
    font-family: Consolas;
}

pre
{
    color: $look-color-code;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background: $look-color-code-background;
    border-radius: $look-border-radius;
    padding: $look-unit;
}

code
{
    color: $look-color-code;
    white-space: nowrap;
    @include rem(padding, 2px 4px);
    border-radius: $look-border-radius;
    background: $look-color-code-background;
    @include rem(font-size, 13px);
}
