@import '../components/normalize-css/normalize';

html
{
    box-sizing: border-box;
}

*,
*:before,
*:after
{
    box-sizing: inherit;
}

html,
body
{
    height: 100%;
}

html
{
    @include rem-baseline;
}

::selection
{
    color: $look-color-selection;
    background: $look-color-selection-background;
}
