._text-left
{
    text-align: left !important;
}

._text-right
{
    text-align: right !important;
}

._text-center
{
    text-align: center !important;
}

._text-lowercase
{
    text-transform: lowercase !important;
}

._text-uppercase
{
    text-transform: uppercase !important;
}

._text-capitalize
{
    text-transform: capitalize !important;
}

._float-left
{
    float: left !important;
}

._float-right
{
    float: right !important;
}

._margin-reset
{
    margin: 0 !important;
}

._margin-default
{
    margin: $look-unit !important;
}

._padding-reset
{
    padding: 0 !important;
}

._padding-default
{
    padding: $look-unit !important;
}
