._text-left
{
    text-align: left !important;
}

._text-right
{
    text-align: right !important;
}

._text-center
{
    text-align: center !important;
}

._text-lowercase
{
    text-transform: lowercase !important;
}

._text-uppercase
{
    text-transform: uppercase !important;
}

._text-capitalize
{
    text-transform: capitalize !important;
}

._float-left
{
    float: left !important;
}

._float-right
{
    float: right !important;
}

._margin-reset
{
    margin: 0 !important;
}

._margin-default
{
    @include rem(margin, $look-unit !important);
}

._margin-default-x
{
    @include rem(margin-left, $look-unit !important);
    @include rem(margin-right, $look-unit !important);
}

._margin-default-y
{
    @include rem(margin-top, $look-unit !important);
    @include rem(margin-bottom, $look-unit !important);
}

._padding-reset
{
    padding: 0 !important;
}

._padding-default
{
    @include rem(padding, $look-unit !important);
}

._padding-default-x
{
    @include rem(padding-left, $look-unit !important);
    @include rem(padding-right, $look-unit !important);
}

._padding-default-y
{
    @include rem(padding-top, $look-unit !important);
    @include rem(padding-bottom, $look-unit !important);
}
