$look-color-text: palette(Grey, 800);
$look-color-background: palette(White, 500);
$look-color-link: palette(Cyan, 700);
$look-color-heading: palette(Grey, 900);
$look-color-code: palette(Pink, 500);
$look-color-code-background: palette(Pink, 50);
$look-color-button: $look-color-background;
$look-color-button-background: $look-color-link;
