$look-color-error: palette(Pink, A400);
$look-color-success: palette(Green, A400);
$look-color-text: palette(Grey, 800);
$look-color-background: palette(White, 500);
$look-color-link: palette(Cyan, 700);
$look-color-heading: palette(Grey, 900);
$look-color-code: $look-color-text;
$look-color-code-background: palette(Grey, 100);
$look-color-button: $look-color-background;
$look-color-button-background: $look-color-link;
$look-color-form-border: palette(Grey, 300);
$look-color-form-hint: palette(Grey, 600);
$look-color-form-focus: $look-color-link;
$look-color-segment-border: $look-color-form-border;
$look-color-segment-background: $look-color-code-background;
$look-color-fieldset-border: palette(Grey, 400);
$look-color-fieldset: darken($look-color-fieldset-border, 20%);
$look-color-balloon: palette(Grey, 100);
