$look-color-text: palette(Grey, 400);
$look-color-background: palette(Grey, 900);
$look-color-link: palette(Cyan, 500);
$look-color-heading: palette(Grey, 200);
$look-color-code: palette(Pink, 500);
$look-color-code-background: palette(Black, 500);
$look-color-button: palette(White, 500);
$look-color-button-background: $look-color-link;
