$look-color-error: palette(Pink, A400) !default;
$look-color-success: palette(Green, A400) !default;
$look-color-text: palette(Grey, 400) !default;
$look-color-background: palette(Grey, 900) !default;
$look-color-link: palette(Cyan, 500) !default;
$look-color-heading: palette(Grey, 200) !default;
$look-color-code: $look-color-text !default;
$look-color-code-background: palette(Black, 500) !default;
$look-color-button: palette(White, 500) !default;
$look-color-button-background: $look-color-link !default;
$look-color-form-border: palette(Grey, 300) !default;
$look-color-form-hint: palette(Grey, 600) !default;
$look-color-form-focus: $look-color-link !default;
$look-color-fieldset-border: palette(Grey, 800) !default;
$look-color-fieldset: lighten($look-color-fieldset-border, 20%) !default;
$look-color-segment-border: $look-color-fieldset-border !default;
$look-color-segment-background: darken($look-color-background, 5%) !default;
$look-color-balloon: palette(Grey, 800) !default;
$look-color-cube-left: palette(Grey, 800) !default;
$look-color-cube-right: palette(Grey, 600) !default;
$look-color-cube-top: palette(Grey, 500) !default;
$look-color-cube-icon-background: $look-color-background !default;
$look-color-contrast-dark: palette(White, 500) !default;
$look-color-contrast-light: palette(Black, 500) !default;
$look-color-selection: $look-color-background !default;
$look-color-selection-background: palette(Yellow, 500) !default;
