$look-color-error: palette(Pink, A400);
$look-color-success: palette(Green, A400);
$look-color-text: palette(Grey, 400);
$look-color-background: palette(Grey, 900);
$look-color-link: palette(Cyan, 500);
$look-color-heading: palette(Grey, 200);
$look-color-code: $look-color-text;
$look-color-code-background: palette(Black, 500);
$look-color-button: palette(White, 500);
$look-color-button-background: $look-color-link;
$look-color-form-border: palette(Grey, 300);
$look-color-form-hint: palette(Grey, 600);
$look-color-form-focus: $look-color-link;
$look-color-fieldset-border: palette(Grey, 800);
$look-color-fieldset: lighten($look-color-fieldset-border, 20%);
$look-color-segment-border: $look-color-fieldset-border;
$look-color-segment-background: darken($look-color-background, 5%);
$look-color-balloon: palette(Grey, 800);
$look-color-cube-left: palette(Grey, 800);
$look-color-cube-right: palette(Grey, 600);
$look-color-cube-top: palette(Grey, 500);
$look-color-cube-icon-background: $look-color-background;
$look-color-contrast-dark: palette(White, 500);
$look-color-contrast-light: palette(Black, 500);
