.look-button
{
    display: inline-block;
    background: $look-color-button-background;
    color: $look-color-button;
    font-weight: bold;
    border: 0;
    border-radius: $look-border-radius;
    cursor: pointer;
    @include rem(padding, $look-unit/2 $look-unit);
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    line-height: inherit;

    &:hover
    {
        color: $look-color-button;
        background: darken($look-color-button-background, 10%);
    }

    &.-empty
    {
        background: transparent;
        color: $look-color-button-background;

        &:hover
        {
            background: darken($look-color-background, 5%);
            color: darken($look-color-button-background, 10%);
        }
    }

    &.-small
    {
        @include rem(padding, $look-unit/4 $look-unit/2);
    }

    &.-wide
    {
        display: block;
        width: 100%;
    }

    &.-icon
    {
        .fa
        {
            @include rem(margin, 0 $look-unit);
            color: darken($look-color-button-background, 20%);
        }

        &.-small .fa
        {
            @include rem(margin, 0 $look-unit/2);
        }

        .fa:first-child
        {
            margin-left: 0;
        }

        .fa:last-child
        {
            margin-right: 0;
        }
    }
}

$colors: 'Red' 'Pink' 'Purple' 'Indigo' 'Blue' 'Cyan' 'Teal' 'Green' 'Lime' 'Yellow' 'Amber' 'Orange' 'Brown' 'Grey' 'Black' 'White';

@each $color in $colors
{
    $cl: to-lower-case(#{$color});

    .look-button.-#{$cl}
    {
        background: palette(#{$color}, 500);
        @if $color == 'White' {
            color: palette(Black, 500);
        }

        .fa
        {
            @if $color == 'Black' {
                color: palette(White, 500);
            } @else if $color == 'White' {
                color: palette(Black, 500);
            } @else {
                color: darken(palette(#{$color}, 500), 20%);
            }
        }

        &:hover
        {
            @if $color == 'Black' {
                background: lighten(palette(Black, 500), 20%);
            } @else {
                background: darken(palette(#{$color}, 500), 10%);
            }
        }
    }

}
