.look-button
{
    display: inline-block;
    background: $look-color-button-background;
    color: $look-color-button;
    font-weight: bold;
    border: 0;
    @include rem(border-radius, $look-border-radius);
    cursor: pointer;
    @include rem(padding, $look-unit/2 $look-unit);
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    line-height: inherit;

    &:hover
    {
        color: $look-color-button;
        background: darken($look-color-button-background, 10%);
    }

    &.-empty
    {
        background: transparent;
        color: $look-color-button-background;

        &:hover
        {
            background: darken($look-color-background, 5%);
            color: darken($look-color-button-background, 10%);
        }
    }

    &.-small
    {
        @include rem(padding, $look-unit/4 $look-unit/2);
    }

    &.-wide
    {
        display: block;
        width: 100%;
    }

    &.-icon
    {
        .fa
        {
            @include rem(margin, 0 $look-unit);
            color: darken($look-color-button-background, 20%);
        }

        &.-small .fa
        {
            @include rem(margin, 0 $look-unit/2);
        }

        .fa:first-child
        {
            margin-left: 0;
        }

        .fa:last-child
        {
            margin-right: 0;
        }
    }
}

@each $cl, $color in $look-colors
{
    .look-button.-#{$cl}
    {
        background: $color;
        color: contrast-color($color);

        .fa
        {
            @if $cl == 'black' {
                color: palette(White, 500);
            } @else if $cl == 'white' {
                color: palette(Black, 500);
            } @else {
                color: darken($color, 20%);
            }
        }

        &:hover
        {
            @if $cl == 'black' {
                background: lighten(palette(Black, 500), 20%);
            } @else {
                background: darken($color, 10%);
            }
        }
    }
}
