.look-form
{
    @include rem(margin-top, $look-unit);
    @include rem(margin-bottom, $look-unit);

    &.-input,
    &.-textarea
    {
        label
        {
            display: block;
            font-weight: bold;
        }

        input,
        textarea
        {
            width: 100%;
            display: block;
            @include rem(border-radius, $look-border-radius);
            background: transparent;
            @include rem(border, 1px solid $look-color-form-border);

            &:focus
            {
                border-color: $look-color-form-focus;
                outline: 0;
            }
        }

        &.-error input,
        &.-error textarea
        {
            border-color: $look-color-error;
        }
    }

    &.-input
    {
        input
        {
            @include rem(padding, 11px $look-unit/2);
        }
    }

    &.-textarea
    {
        textarea
        {
            resize: vertical;
            @include rem(padding, $look-unit/2);
            height: 12 * $look-unit;
        }
    }

    &.-select
    {
        label
        {
            display: block;
            font-weight: bold;
        }

        select
        {
            width: 100%;
            display: block;
            @include rem(border-radius, $look-border-radius);
            @include rem(border, 1px solid $look-color-cube-top);
            @include rem(padding, $look-unit / 2);
        }

        &.-error select
        {
            border-color: $look-color-error;
        }
    }

    &.-checkbox
    {
        position: relative;

        label
        {
            display: block;
            font-weight: bold;
            @include rem(padding-left, $look-unit);
        }

        input
        {
            position: absolute;
            @include rem(top, 4px);
            left: 0;
        }

        .hint
        {
            @include rem(padding-left, $look-unit);
        }
    }

    .hint
    {
        color: $look-color-form-hint;
        @include rem(font-size, 12px);
        line-height: $look-unit / 12px;
    }

    .error
    {
        color: $look-color-error;
        font-weight: bold;
    }
}
