.look-segment
{
    border: 1px solid $look-color-segment-border;
    @include rem(border-radius, $look-border-radius);
    @include rem(margin-top, $look-unit);
    @include rem(margin-bottom, $look-unit);
    overflow: hidden; // fixes border radius in chrome

    > .header
    {
        background: $look-color-segment-background;
        @include rem(padding, $look-unit/2 $look-unit);
        box-shadow: inset 0 -1px 0 $look-color-segment-border;
    }

    > .footer
    {
        @include rem(padding, $look-unit/2 $look-unit);
        box-shadow: inset 0 1px 0 $look-color-segment-border;
    }

    > .body
    {
        @include rem(padding, $look-unit - 1px $look-unit);
        @include remove-margin;
    }
}

@each $cl, $color in $look-colors
{
    $color-lighten: lighten($color, 35%);

    .look-segment.-#{$cl}
    {
        border-color: $color;

        > .header
        {
            box-shadow: inset 0 -1px 0 $color;
            background: $color-lighten;
            color: contrast-color($color-lighten);
        }

        > .header.-filled
        {
            background: $color;
            color: contrast-color($color);
        }
    }
}
